<h1>asdasd</h1>

<div class="cpa-form">
  <%= form_with(model: [:cross_promotion_app, @banner], url: url) do |form| %>
    <div class="cpa-form__group">
      <%= form.label :name %>
      <%= form.text_field :name, value: @banner.name, placeholder: t("views.#{action}.placeholders.name") %>
      <% if @banner.errors[:name] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:name].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :image, t("views.#{action}.labels.image", filename: @banner.image&.blob&.filename) %>
      <%= form.file_field :image, class: 'cpa-btn' %>
      <% if @banner.errors[:image] %>
        <span class="cpa-form__error">
          <%= @banner.errors[:image].first %>
        </span>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :video_id %>
      <%= form.text_field :video_id, value: @banner.video_id, placeholder: t("views.#{action}.placeholders.video_id") %>
      <% if @banner.errors[:video_id] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:video_id].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :video_length %>
      <%= form.number_field :video_length, value: @banner.video_length, placeholder: t("views.#{action}.placeholders.video_length") %>
      <% if @banner.errors[:video_length] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:video_length].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :title_de %>
      <%= form.text_field :title_de, value: @banner.title_de, placeholder: t("views.#{action}.placeholders.title_de") %>
      <% if @banner.errors[:title_de] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:title_de].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :title_en %>
      <%= form.text_field :title_en, value: @banner.title_de, placeholder: t("views.#{action}.placeholders.title_en") %>
      <% if @banner.errors[:title_en] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:title_en].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :text_de %>
      <%= form.text_field :text_de, value: @banner.text_de, placeholder: t("views.#{action}.placeholders.text_de") %>
      <% if @banner.errors[:text_de] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:text_de].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :text_en %>
      <%= form.text_field :text_en, value: @banner.text_de, placeholder: t("views.#{action}.placeholders.text_en") %>
      <% if @banner.errors[:text_en] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:text_en].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :cta_url %>
      <%= form.text_field :cta_url, value: @banner.cta_url, placeholder: t("views.#{action}.placeholders.cta_url") %>
      <% if @banner.errors[:cta_url] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:cta_url].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :cta_text_de %>
      <%= form.text_field :cta_text_de, value: @banner.cta_text_de, placeholder: t("views.#{action}.placeholders.cta_text_de") %>
      <% if @banner.errors[:cta_text_de] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:cta_text_de].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :cta_text_en %>
      <%= form.text_field :cta_text_en, value: @banner.cta_text_en, placeholder: t("views.#{action}.placeholders.cta_text_en") %>
      <% if @banner.errors[:cta_text_en] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:cta_text_en].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :link %>
      <%= form.text_field :link, value: @banner.link, placeholder: t("views.#{action}.placeholders.link") %>
      <% if @banner.errors[:link] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:link].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :link_text_de %>
      <%= form.text_field :link_text_de, value: @banner.link_text_de, placeholder: t("views.#{action}.placeholders.link_text_de") %>
      <% if @banner.errors[:link_text_de] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:link_text_de].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__group">
      <%= form.label :link_text_en %>
      <%= form.text_field :link_text_en, value: @banner.link_text_en, placeholder: t("views.#{action}.placeholders.link_text_en") %>
      <% if @banner.errors[:link_text_en] %>
        <div class="cpa-form__error">
          <%= @banner.errors[:link_text_en].first %>
        </div>
      <% end %>
    </div>

    <div class="cpa-form__actions">
      <a class="cpa-btn cpa-btn-secondary" href="<%= cross_promotion_app.banners_index_path %>"><%= t("views.#{action}.actions.cancel") %></a>
      <%= form.submit t("views.#{action}.actions.submit"), class: "cpa-btn cpa-btn-primary" %>
    </div>
  <% end %>
</div>