<div id='cpa-edit-page'>
  <%= polaris_page(title: I18n.t('views.edit.title', name: @banner.name)) do %>
    <%= form_with(model: [:cross_promotion_app, @banner], url: cross_promotion_app.banners_update_path, builder: Polaris::FormBuilder) do |form| %>
      <%= polaris_spacer(vertical: :base) %>

      <% if @banner.image.attached? && @banner.image.content_type.in?(%w[image/svg+xml image/png]) %>
        <div class="cpa-banner"><%= image_tag main_app.url_for(@banner.image) %></div>
        <%= polaris_spacer(vertical: :base) %>
      <% end %>

      <%= polaris_form_layout do |form_layout| %>
        <% form_layout.item do %>
          <%= form.polaris_text_field(:name, value: @banner.name, placeholder: I18n.t('views.edit.placeholders.name')) %>
        <% end %>
        <% form_layout.item do %>
          <%= form.polaris_text_field(:link, value: @banner.link, placeholder: I18n.t('views.edit.placeholders.link')) %>
        <% end %>
        <% form_layout.item do %>
          <%= polaris_spacer(vertical: :base) %>
          <%= form.polaris_dropzone(:image, label: I18n.t('views.edit.labels.image', filename: @banner.image.blob.filename), label_hidden: false, multiple: false) %>
        <% end %>
      <% end %>

      <%= polaris_page_actions do |actions| %>
        <% actions.primary_action(submit: true) { 'Save' } %>
        <% actions.secondary_action(url:cross_promotion_app.banners_index_path) { 'Cancel' } %>
      <% end %>
    <% end %>
  <% end %>
</div>