<div id='cpa-index'>
  <div class="cpa-wrapper">
    <header class="cpa-header">
      <h1><%= t('views.index.title') %></h1>
      <a class="cpa-btn cpa-btn-primary" href="<%= cross_promotion_app.banners_new_path %>"><%= t('views.index.actions.new') %></a>
    </header>
    <div id='cpa-banners-list'>
      <% @banners.each do |banner| %>
        <div class='cpa-banner-wrapper'>
          <div class="cpa_banner-header">
            <h2>
              <div class="cpa_banner-header-name"><%= banner.name %></div>
              <% if banner.active %>
                <div class="cpa-batch"><span><%= t('views.index.badges.active') %></span></div>
              <% end %>
            </h2>
            <div class="cpa_banner-header-actions">
              <% if banner.active %>
                <a class="cpa-btn cpa-btn-secondary" href="<%= cross_promotion_app.banners_deactivate_path(banner) %>"><%= t('views.index.actions.deactivate') %></a>
              <% else %>
                <a class="cpa-btn cpa-btn-secondary" href="<%= cross_promotion_app.banners_activate_path(banner) %>"><%= t('views.index.actions.activate') %></a>
              <% end %>
              <a class="cpa-btn cpa-btn-primary" href="<%= cross_promotion_app.banners_edit_path(banner) %>"><%= t('views.index.actions.edit') %></a>
              <a class="cpa-btn cpa-btn-destructive" href="<%= cross_promotion_app.banners_destroy_path(banner) %>"><%= t('views.index.actions.destroy') %></a>
            </div>
          </div>
          <div class="cpa-banner">
            <a href=<%= banner.link %> target="_blank">
              <%= image_tag main_app.url_for(banner.image) %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
