<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dummy App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: "all", "data-turbo-track": "reload"  %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <%= render "cross_promotion_app/banner" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
