<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= CrossPromotionApp %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'cross_promotion_app/application', media: "all", "data-turbo-track": "reload"  %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
